<!doctype html>
<html lang="en">
<!-- A Intro to Coding for Journalists class project -->
<head>
  <title>{% block page_title %}Default title{% endblock %}</title>
  <meta name="description" content="{% block page_description %}Default description{% endblock %}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Cormorant+Garamond|Marcellus&display=swap" rel="stylesheet">
</head>
<body>
  {% include "_partials/nav.njk" %}

  {% include "_partials/jumbotron.njk" %}

  {% block content %}{% endblock %}

  {% include "_partials/footer.njk" %}

  <script src="js/jquery.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/scripts.js"></script>
    <script> 
    $(document).ready(function(){       
            var scroll_pos = 0;
            $(document).scroll(function() { 
                scroll_pos = $(this).scrollTop();
                if(scroll_pos > 550) {
                    $("nav").css('background-color', 'white');
                    $("nav a").css('color', 'black');
                    $("nav .dropdown-menu").css('background-color', 'white');
                    $("nav .dropdown-menu").css('color', 'black');
                } else {
                    $("nav").css('background-color', 'black');
                    $("nav a").css('color', 'white');
                    $("nav .dropdown-menu").css('background-color', 'black');
                    $("nav .dropdown-menu").css('color', 'white');
                }
            });
        });
  </script>
</body>
</html>
