{% extends '_layouts/detail.njk' %}
{% set members = data.members[0] %}

{% block content %}

<div class="container">
  <div class="row">
  {% for member in data.members %}
    <div class="col-sm">
      <img src="../img/members/{{ member.image }}">
      <p class="member-info">{{ member.instruments}}</p>
      <p class="member-info">{{ member.tenure}}</p>
      <p class="member-info">{{ member.birthplace}}</p>
      <p class="member-info">{{ member.birthdate}}</p>
    </div>
    <div class="col-sm">
      <h1 class="member-name">{{ member.name }}</h1>
      <p class="member-text">{{ member.text }}</p>
    </div>
  {% endfor %}
  </div>
</div>

{% endblock %}
