{% extends '_layouts/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block content %}

<div class="bgimg1"></div>
<div class="picturebreak text-center">
  <h2>Queen on Stage</h2>
</div>
<div class="bgimg2"></div>


{% endblock %}