<nav class="navbar navbar-dark navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="index.html">Q</a>
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle toggle-align" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Members</a>
        <div class="dropdown-menu item-align" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="brian-may.html">Brian May</a>
          <a class="dropdown-item" href="freddie-mercury.html">Freddie Mercury</a>
          <a class="dropdown-item" href="john-deacon.html">John Deacon</a>
          <a class="dropdown-item" href="roger-taylor.html">Roger Taylor</a>
        </div>
      </li>
      <li>
        <a class="nav-link toggle-align" href="media.html">Media</a>
      </li>
      <li>
        <a class="nav-link toggle-align" href="parallax.html">Queen on Stage</a>
      </li>
      <li>
        <a class="nav-link toggle-align" href="carousel-testing.html">Carousel Testing</a>
      </li>
      <li>
        <a class="nav-link toggle-align" href="tour-dates.html">Tour Dates</a>
      </li>
        <li>
          <a href="https://www.facebook.com/Queen/" class="fa fa-facebook" target="_blank"></a>
        </li>
        <li>
          <a href="https://twitter.com/QueenWillRock?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter" target="_blank"></a>
        </li>
        <li>
          <a href="https://www.instagram.com/officialqueenmusic/?hl=en" class="fa fa-instagram" target="_blank"></a>
        </li>
        <li>
          <a href="https://www.youtube.com/user/queenofficial/featured" class="fa fa-youtube" target="_blank"></a>
        </li>
    </ul>
  </div>
</nav>
