.jumbotron.banner {
  background: url(../img/queen-band-wallpaper.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
  color: white;
  padding-top: 16.5rem;
}

.jumbotron {
  margin-bottom: 30px;
}