/* nav */

.dropdown-item:hover {
color: #8d8d8d;
background-color: none;
}

.navbar-brand {
  font-family: 'Cinzel Decorative', cursive;
}

.dropdown-item, .nav-link {
  font-family: 'Cormorant Garamond', serif;
}