/* nav */

.navbar-brand {
  font-family: 'Cinzel Decorative', cursive;
}

.dropdown-item, .nav-link {
  font-family: 'Cormorant Garamond', serif;
}

.custom-toggler.navbar-toggler {
  border-color: transparent;
}
.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(107, 107, 107)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.toggle-align {
  text-align: right;
}

.dropdown-menu.item-align {
  border: 1px rgb(107, 107, 107) solid;
  width: 45px;
  float: right;
}