// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

$link-color: white;
$dropdown-bg: black;
$dropdown-link-color: white;
$dropdown-link-hover-color: none;
$dropdown-link-hover-bg: none;
$dropdown-link-active-color: none;
$dropdown-link-active-bg: none;

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";
@import "jumbotron";
@import "content";

h1, h2 {
  font-family: 'Cinzel Decorative', cursive;
}

p {
  font-family: 'Cormorant Garamond', serif;
}

